<h1>Listing commemts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commemts.each do |commemt| %>
  <tr>
    <td><%= commemt.content %></td>
    <td><%= commemt.post_id %></td>
    <td><%= link_to 'Show', commemt %></td>
    <td><%= link_to 'Edit', edit_commemt_path(commemt) %></td>
    <td><%= link_to 'Destroy', commemt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commemt', new_commemt_path %>
